* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  scrollbar-width: none;
}
header {
  height: 86px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
  z-index: 1;
  background-color: white;
  position: sticky;
  top: 0;
}
.left-header {
  display: flex;
  cursor: pointer;
}
.left-header > .left-first {
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  width: 178px;
  height: 86px;
  border-right: 1px solid #f2f2f2;
}
.left-header > .left-second {
  width: 320px;
  height: 86px;
  display: flex;
  flex-flow: column wrap;
  gap: 5px 0px;
  place-content: center;
}
.left-header > .left-second > p {
  font-size: 18px;
  font-weight: 800;
  height: 23px;
}
.left-header > .left-second > .left-second-second {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
  gap: 10px;
  font-size: 13px;
}
.left-header > .left-second > .left-second-second > img {
  height: 20px;
}
.mid-header {
  display: flex;
  flex-flow: wrap;
  place-content: center;
  cursor: text;
}
.mid-header > .mid-header-content {
  width: 700px;
  height: 47.6px;
  border: 1px solid #f2f2f2;
  background-color: #f7f7f7;
  border-radius: 13px;
  padding: 0px 10px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  gap: 10px;
}
.mid-header > .mid-header-content > img {
  height: 18px;
  margin: 14px 0px;
  stroke-width: 5px;
}
.mid-header > .mid-header-content > .search-bar {
  width: 648px;
  height: 46px;
  border: none;
  font-size: 16px;
  background-color: #f7f7f7;
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
}
.search-bar > ul {
  list-style-type: none;
}
.search-bar > ul > li {
  display: flex;
  align-items: center;
  height: 46px;
  animation: word-carousel 10s infinite;
  color: rgb(153, 153, 153);
}
/* prettier-ignore */
@keyframes word-carousel {
  0% {
    transform: translateY(100%);
  }
  4%, 20% {
    transform: translateY(-0%);
  }
  24%, 40% {
    transform: translateY(-100%);
  }
  44%, 60% {
    transform: translateY(-200%);
  }
  64%, 80% {
    transform: translateY(-300%);
  }
  84%, 100% {
    transform: translateY(-400%);
  }
}
.right-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 16px;
  width: 336px;
  height: 86px;
}
.right-header > .login {
  width: 162px;
  height: 86px;
  color: #363636;
  font-size: 18px;
  font-family: Regular;
  display: flex;
  flex-flow: row wrap;
  place-content: center;
}
.right-header > .login > p {
  width: 47.5px;
  height: 20px;
  color: #363636;
  cursor: pointer;
}
.right-header > .button {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  gap: 8px;
  width: 140px;
  height: 86px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  cursor: not-allowed;
}
.right-header > .button > .btn {
  width: 112px;
  height: 52px;
  background-color: #e6e6e6;
  border-radius: 8px;
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  gap: 8px;
}
.right-header > .button > .btn > img {
  width: 25px;
  height: 25px;
}
.right-header > .button > .btn > button {
  color: white;
  background-color: #e6e6e6;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: no-drop;
}
.main-content {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
.first-section {
  width: 1280px;
  height: 235px;
  cursor: pointer;
}
.first-section > img {
  width: 1278px;
  height: 235px;
}
.second-section {
  width: 1280px;
  height: 227px;
  padding: 15px;
  display: flex;
  gap: 0 20px;
}
.second-section > img {
  width: 335.4px;
  height: 195px;
  cursor: pointer;
}
.third-section {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: 0px;
}
.third-section > .mini-item > img {
  width: 127px;
  height: 188px;
  cursor: pointer;
}
.similar-layout-section {
  width: 1280px;
  height: 370px;
  padding: 0 12px;
  position: relative;
}
.similar-layout-section > .upper {
  height: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
.similar-layout-section > .upper > h2 {
  cursor: text;
}
.similar-layout-section > .upper > p {
  font-size: 20px;
  color: green;
}
.similar-layout-section > .lower {
  width: 1256px;
  height: 306px;
  display: flex;
  column-gap: 20px;
  overflow: auto hidden;
}
.item {
  min-width: 179px;
  height: 286px;
  border: 0.5px solid rgb(232, 232, 232);
  box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  cursor: pointer;
}
.item > .image {
  width: 178px;
  height: 141.5px;
  display: flex;
  justify-content: center;
}
.item > .image > img {
  width: 140px;
  height: 140px;
}
.item > .details {
  width: 178px;
  height: 141.5px;
}
.item > .details {
  width: 178px;
  height: 141.5px;
  padding: 0 12px;
}
.item > .details > .time {
  display: flex;
  background-color: #f7f7f7;
  justify-content: space-between;
  padding: 2px;
  margin-bottom: 7px;
  width: 52px;
  height: 15px;
}
.item > .details > .time > img {
  min-width: 11px;
  height: 11px;
}
.item > .details > .time > p {
  font-size: 10px;
  font-weight: bold;
}
.item > .details > .product-name {
  font-size: 13px;
  margin-bottom: 7px;
  font-weight: 545;
  min-height: 30.4px;
}
.item > .details > .quantity {
  width: 155px;
  height: 26px;
  font-size: 12px;
  display: flex;
  margin-bottom: 8px;
}
.item > .details > .quantity > p {
  display: flex;
  align-items: center;
}
.item > .details > .price-add {
  width: 155px;
  height: 33px;
  display: flex;
  justify-content: space-between;
}
.item > .details > .price-add > p {
  font-size: 12px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.item > .details > .price-add > button {
  width: 68px;
  height: 33px;
  background-color: #f7fff9;
  color: green;
  border-radius: 5px;
  border: 1px solid green;
  font-weight: bold;
  cursor: pointer;
}
.right-swiper {
  position: absolute;
  top: 185px;
  right: 0px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
  padding: 7px;
  cursor: pointer;
}
.right-swiper > img {
  width: 23px;
  height: 23px;
}
footer {
  display: flex;
  justify-content: center;
  color: #666666;
}
footer > .footer-section {
  width: 1280px;
  padding-top: 50px;
}
footer > .footer-section > .upper-footer {
  display: flex;
  font-size: 14px;
}
.useful-links {
  width: 427px;
  height: 390px;
}
.useful-links > .link-heading {
  margin: 24px 0;
  font-weight: 600;
  font-size: 18px;
  color: black;
  cursor: text;
}
.useful-links > .link-content {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(6, 1fr);
  gap: 12px 24px;
  list-style-type: none;
  text-decoration: none;
  color: #666666;
}
.link-content a {
  text-decoration: none;
  color: #666666;
}
.useful-links > .link-content > .security {
  grid-row: 5/6;
  grid-column: 1/2;
}
.useful-links > .link-content > .deliver {
  grid-row: 5/6;
  grid-column: 2/3;
}
.useful-links > .link-content > .contact {
  grid-row: 6/7;
  grid-column: 1/2;
}
.useful-links > .link-content > .resources {
  grid-row: 6/7;
  grid-column: 2/3;
}
.categories > .category-upper {
  display: flex;
  column-gap: 15px;
  margin: 24px 0px;
}
.categories > .category-upper > .category-heading {
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-size: 18px;
}
.categories > .category-upper > a {
  color: green;
  text-decoration: none;
  line-height: 21px;
}
.categories > .category-content {
  display: grid;
  grid-template-columns: 245px 290px 267px;
  gap: 12px 24px;
}
.category-content a {
  text-decoration: none;
  color: #666666;
}
.lower-footer {
  height: 170px;
  padding-top: 40px;
}
.lower-footer > .first-part {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}
.lower-footer > .first-part > .left {
  width: 335px;
  font-size: 12px;
  display: flex;
  align-items: center;
  cursor: text;
}
.lower-footer > .first-part > .mid {
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 600;
  cursor: text;
}
.lower-footer > .first-part > .mid > img {
  width: 92px;
  height: 30px;
  cursor: pointer;
}
.lower-footer > .first-part > .right {
  display: flex;
  align-items: center;
  column-gap: 24px;
  padding: 0 12px;
}
.lower-footer > .first-part > .right > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.lower-footer > .first-part > .right > svg {
  cursor: pointer;
}
.lower-footer > .last-part {
  height: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: text;
}
